@charset "UTF-8";


hr {
	margin: 0;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

h4 {
	margin: 0;
}

h5 {
	margin: 0;
}

ul {
	margin: 0px;
	padding: 0;
}

li {
	margin: 0px;
	padding: 0;
}
